# Git
.git

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Virtual environments
.env
.venv
venv

# Test artifacts
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
htmlcov/

# OS-specific
.DS_Store
*.swp
*.swo
*~

# IDE
.vscode/
.idea/

# Node
node_modules/
